@model IEnumerable<MoviesMVC.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Dostępne Filmy w Wypożyczalni</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                <th>@Html.DisplayNameFor(model => model.BoxOffice)</th>
                <th>@Html.DisplayNameFor(model => model.Rating)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.ReleaseDate
                    </td>
                    <td>
                        @item.BoxOffice
                    </td>
                    <td>
                        <select class="form-control" asp-for="@item.Rating"
                            asp-items="@Html.GetEnumSelectList<Rating>()"></select>
                    </td>
                    <td>
                        <a asp-action="Show" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>